In [1]:
import  pandas as pd
import numpy as np
import matplotlib as plt
dataset=pd.read_csv('data.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
ID               5000 non-null int64
riesgo           5000 non-null int64
edad             5000 non-null int64
meses            5000 non-null int64
max_ant          5000 non-null int64
ingreso          5000 non-null float64
score            5000 non-null int64
tipo_vivienda    5000 non-null int64
zona             5000 non-null int64
nivel            5000 non-null int64
dtypes: float64(1), int64(9)
memory usage: 390.7 KB

In [4]:
dataset.head()

,ID,riesgo,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel
0,1,0,30,121,93,3500.0,214,2,1,2
1,2,0,32,149,9,900.0,175,2,3,5
2,3,0,26,167,8,2400.0,187,2,1,2
3,4,0,36,168,20,2700.0,187,2,3,5
4,5,0,46,128,0,3100.0,189,2,1,5